<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.013/css/hack-extended.min.css" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@grahamgilbert">
<meta name="twitter:creator" content="@grahamgilbert">
<meta name="twitter:description" content="Mac administration and assorted nerdity">
<meta name="twitter:title" content="grahamgilbert.com">
<meta name="twitter:url" content="http://grahamgilbert.com">
